<!DOCTYPE html>
<html>
<head>
  <title><%= content_for?(:title) ? yield(:title)+" | Photastic" : "Photastic" %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

  <link href='http://fonts.googleapis.com/css?family=Inder|ABeeZee|Concert+One|Sniglet|Roboto:400,900' rel='stylesheet' type='text/css'>
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
</head>
<body>

<%= render 'layouts/header' %>

<div class="container flash">
  <span class="green"><%= flash[:notice] %></span>
  <span class="red"><%= flash[:alert] %></span>
</div>

<%= yield %>

<%= render 'layouts/footer' %>

</body>
</html>
